{% extends "clinica/secretarias/base.html" %}
{% block body %}
    <div class="container">
        <h2>Edicion de turno</h2>
        <form action="{% url 'clinica:edicionTurno' turno_id %}" method="POST">
                
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        <div class="row">
            <a href="{% url 'clinica:secretariasIndex' %}"">	 <hr class="mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">Volver</button>
            </a>
        </div>
    </div>
    
    
{% endblock %}